@font-face{
	font-family: Tonight;
	src: url('Tonight.ttf') format('truetype');
}

@font-face{
	font-family: NightVibes;
	src: url('NightVibes.ttf') format('truetype');
}

@font-face{
	font-family: Quicksand;
	src: url('Quicksand.ttf') format('truetype');
}

@media(min-width: 1100px){
.header{
	overflow:hidden;
    background-color: #6B0504;
    font-family: Tonight;
	margin: 0px;
	padding: 40px;
	font-size: 90px;
	text-align: left;
	color: white;}
	
.footer{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
   	background-color: #6B0504;
    	font-family: Quicksand;
	padding: 25px;
	font-size: 15px;
	text-align: left;
	color: white;
	max-height:200px;
	}
	.announcements a.title{
		font-family: NightVibes;
		font-size: 80px;
		color:white;
		padding:25px;
		display:block;
	}
	.announcements a.shows{
		font-family: Quicksand;
		padding:25px;
		font-size: 30px;
		display:block;
		color:white;
		vertical-align: text-top;
		text-decoration: none;
		
	}
		.text a.description{
		font-family: Quicksand;
		padding:5px;
		font-size: 25px;
		display:block;
		color:white;
		}
	.text{
		float:right;
	}
	
.header a.active{
	background-color: #6B0504;
    font-family: Quicksand;
	margin: 0px;
	padding: 5px;
	font-size: 25px;
	color: white;
	display: contents;
	text-decoration: none;
	}
	
	.header a.active:hover{
		color:#ACACAC
	}
.header-right{
		float:right;
	}

img{
	margin: 15px;
	height:auto;
	max-width: 100%;
	visibility: hidden;
}

body{
	background-color: #DAA520;
	margin: 0px;
	
	}
}

@media ( max-width : 1100px ){
	.header{
		overflow:hidden;
    	background-color: #6B0504;
   		font-family: Tonight;
		margin: 0px;
		padding: 25px;
		font-size: 60px;
		text-align: center;
		color: white;}
	
	.footer{
		display:flex;
		flex-direction: column;
		justify-content: space-between;
    	background-color: #6B0504;
    	font-family: Quicksand;
		padding: 25px;
		font-size: 15px;
		text-align: left;
		color: white;
		max-height:200px;
		}
	
	.header a.active{
		background-color: #6B0504;
   		font-family: Quicksand;
		margin: 0px;
		padding: 5px;
		font-size: 20px;
		text-align: right;
		color: white;
		display:none;
	}
	.header-right{
		float:right;
	}
	
		.announcements a.title{
			font-family: NightVibes;
			font-size: 80px;
			color:white;
			padding:25px;
			display:block;
			text-decoration: none;}
			
	.announcements a.shows{
		font-family: Quicksand;
		padding:5px;
		font-size: 25px;
		display:block;
		color:white;
		vertical-align: text-top;
			
			
		
	}
	.text a.description{
		font-family: Quicksand;
		padding:5px;
		font-size: 20px;
		display:block;
		color:white;
		;
		
	}
	
	.text{
		float:right;
	}
	img{
		margin: 5px;
		height:auto;
		width:auto;
		visibility: visible;
		max-width: 100%;
	}
	body{
		background-color: #DAA520;
		margin: 0px;
	}
}


